In [2]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
data = pd.read_csv(r".\data\validation_for_students.csv")

In [4]:
data.head()

,True_index,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday
0,7,764,4,2013-12-26,0,0,0,c,1
1,19,22,3,2013-05-22,449,1,0,0,1
2,31,1087,6,2013-06-29,622,1,0,0,0
3,45,139,6,2013-08-17,314,1,0,0,0
4,56,568,1,2014-04-07,356,1,0,0,0

In [5]:
data.dtypes

True_index              int64
Store_ID                int64
Day_of_week             int64
Date                   object
Nb_customers_on_day     int64
Open                    int64
Promotion               int64
State_holiday          object
School_holiday          int64
dtype: object

In [6]:
data.isnull().sum()

True_index             0
Store_ID               0
Day_of_week            0
Date                   0
Nb_customers_on_day    0
Open                   0
Promotion              0
State_holiday          0
School_holiday         0
dtype: int64

In [7]:
data["Holiday_Encoded"] = np.where(data["State_holiday"] != '0', 1, 0)

In [8]:
data["Holiday_Encoded"].unique()

array([1, 0])

In [9]:
def convert_date(date):
    return dt.strptime(date,'%Y-%M-%d').toordinal()
data['Date'] = data['Date'].apply(convert_date)

In [10]:
data.dtypes

True_index              int64
Store_ID                int64
Day_of_week             int64
Date                    int64
Nb_customers_on_day     int64
Open                    int64
Promotion               int64
State_holiday          object
School_holiday          int64
Holiday_Encoded         int32
dtype: object

In [11]:
data.to_pickle(r".\data\Validation_Clean.p")